.landing-container {
	background: url('/assets/images/landing.jpg');
	height: calc(100vh - 115px);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	display: flex;
	align-items: center;
}

.landing-welcome-container {
	padding-left: 30px;
	padding-right: 30px;
}

.landing-welcome-container .title {
	font-family: bogle-bold;
	font-size: 36px;
	color: #041e42;
}